<h2> Create Potluck </h2>

<form method="post" action="/potluck/new">

  <input type="text" name="potluck[name]">
  <input type="text" name="potluck[timestamp]" placeholder="2013-07-10 12:00:00">

  <button class="btn btn-success">Create Potluck</button>

</form>