<h2> Manage tags for items </h2>

<p> Tags are the categories for items to bring to a potluck. </p>

<h3> Current tags: </h3>

<ul>
<% @tags.each do |tag| %>

<li> <%= tag.name  %> </li>
  <% end %>

</ul>

<form>
  <input method="post" name="tag">
  <label>Add new tag: </label><button class="btn btn-success">Create</button>
</form>